body {
    background-color: white;
    color: black;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Times New Roman', Times, serif;
}

#ramal {
    font-size: 10vw; 
    display: flex;
    gap: 10vw; 
}

#ramal span {
    display: inline-block;
}
